.border-bottom-gray {
  border-bottom: 1px solid $gray-d8;
}

.pb-26 {
  padding-bottom: 1.625rem;
}

.pt-26 {
  padding-top: 1.625rem;
}

.py-26 {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
}
