.border-bottom-gray {
  border-bottom: 1px solid $gray-d8;
}

.pb-26 {
  padding-bottom: 1.625rem;
}

.pt-26 {
  padding-top: 1.625rem;
}

.py-26 {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
}

.bg-gray-efed {
  background-color: $gray-EFED;
}

.text-dark-222 {
  color: $dark-222;
}

.width-275 {
  width: 275px;
  min-width: 275px;
}

// (275+20) * 4
@media (min-width: 1180px) {
  .width-full {
    width: 100%;
  }
  .width-quarter {
    width: 25%;
  }
}
